<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>

      <a class="navbar-brand hidden-xs" href="#myPage">
        <%= image_tag("pizza_logo.png")%>
      </a>
      <a class="navbar-brand" href="#myPage">Jordan's Pizza</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'CART', pizzas_order_index_path %>
        </li>
        <li><a href="#menu">MENU</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="order-list">
</div>

<script>
  $(document).ready(function(){
    data = getStorage();
    $.ajax({
      url: "/pizzas_order/order_items",
      type: 'POST',
      dataType: 'json',
      data: data,
      success:function(data){
        $(".order-list").html(data.html);
      },
      error:function(data){
          debugger;
          
      }
    });
  })

</script>