// Place all the styles related to the PizzasOrder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-items-list {
  display: flex;
  padding-top: 10rem;
  padding-left: 10rem;
  flex-direction: column;
  .order-item {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .order-button {
    width: 10rem;
  }
}